body {
    margin: 0;
    font-family: 'Source Sans pro';
}

a {
    text-emphasis: none;
    color: aliceblue;
}

.navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5eb8ff;
}

.navs_logo {
    font-size: 30px;
    color: white;
}

.navs_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navs_menu li {
    padding: 3px 8px;
}

.navs_menu li:hover {
    background-color: #546e7a;
    border-radius: 4px;
}

.navs_sns {
    list-style: none;
    color: white;
    display: flex;
}

.navs_sns li {
    padding: 8px 12px;
}

.navs_toogleButton {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}

.newBox {
    display: flex;
    flex-wrap: nowrap;
}

.newBox li {
    list-style: none;
}

@media screen and (max-width: 768px) {
    .navs {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navs_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%
    }
    
    .navs_menu li {
        widows: 100%;
        text-align: center;
    }
    
    .navs_sns {
        display: none;
        justify-content: center;
        width: 100%;
        padding-left: 0;
    }

    .navs_toogleButton {
        display: block;
    }

    .navs_menu.active,
    .navs_sns.active {
        display: flex;
    }
    
    .newBox {
        flex-wrap: wrap;
        display: flex;
    }
}


