body {
    font-family: NanumSquareR;
}

a {
    text-emphasis: none;
    color: #ffff;
}

.navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181212;
}

.navs_logo {
    font-size: 30px;
    color: white;
}

.navs_menu {
    margin-top: 5%;
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navs_menu li {
    padding: 3px 8px;
}

.navs_menu li:hover {
    background-color: #546e7a;
    border-radius: 4px;
}

.navs_sns {
    list-style: none;
    color: white;
    display: flex;
}

.navs_sns li {
    padding: 8px 12px;
}

.navs_toogleButton {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}

.newBox {
    display: inline-block;
    flex-wrap: nowrap;
}

.newBox li {
    list-style: none;
}

.민경일zone {
    border: black;
}

.site-logo-box {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100rem;
    height: 10rem;
    object-fit: contain;
    border-radius: 12px;
    border: solid 2px var(--dark-grey-blue);
    background-color: aqua;
}

.site-logo-sentence {
    width: 100%;
    top: 50%;
    text-align: center;
    height: 2rem;
    font-size: 200%;
    color: #ffff;
}


@media screen and (max-width: 600px) {
    .navs {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navs_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%
    }
    
    .navs_menu li {
        widows: 100%;
        text-align: center;
    }
    
    .navs_sns {
        display: none;
        justify-content: center;
        width: 100%;
        padding-left: 0;
    }

    .navs_toogleButton {
        display: block;
    }

    .navs_menu.active,
    .navs_sns.active {
        display: flex;
    }
    
    .newBox {
        flex-wrap: wrap;
        display: flex;
    }
    
    .site-logo-box {
        width: 25rem;
        height: 5.5rem;
        border-radius: 12px;
    }
    
    .site-logo-sentence {
        font-size: 150%;
    }
}